<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/BodyGodot.css') }}">
	<iframe width="1851" height="751" src="https://www.youtube.com/embed/z23MQ2xad30?list=PLpp4UXjsd_VeN7FrIbk7suElcL3bm6eLB" title="Как начать делать ИГРЫ в GODOT 4 | Урок 1 | Самый подробный курс по Годот для начинающих с нуля!" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	<h3>В данном уроке мы установим движок для программирования и начнём создавать нашу игру. Подробная установка находится ниже👇</h3>
	<h2>Инструкция по установке тут</h2>
	<a href="/godot/y2">
    	<h2 class="clickable-heading">Следующий урок</h3>
	</a>
</head>
<body>
</body>
</html>