<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Фон изображения по ссылке</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <h1>IT сфера</h1>
    <h2>С чего начать?</h2>
    <a href="/godot">
    	<img src="https://i.ytimg.com/vi/-13AMkrSaRc/maxresdefault.jpg" alt="Пример изображения" style="position: absolute; left: 25px; top: 250px;">
	</a>
    <img src="https://beonmax.com/img/cover/java.jpg" alt="Пример изображения" style="position: absolute; left: 500px; top: 250px;">

</head>
<body>
</body>
</html>